:root{
    --color1:#fff;
    --color2:#000;
    --color3:#ddd;
    --color4:pink;
    --color5:green;
    --color6:red;
    --color7:orange;
    
}

@font-face {
    font-family: 'VIP Roman';
    src: url('fonts/VIPRoman-Regular.woff2') format('woff2'),
        url('fonts/VIPRoman-Regular.woff') format('woff'),
        url('fonts/VIPRoman-Regular.svg#VIPRoman-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: 'VIP Roman';
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0 auto;
    max-width: 1920px;
}

.progres{
    height: 10px;
    background-color: var(--color5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    width: 100%;
    scale: 0 1;
    animation: analitzador linear;
    -webkit-animation-timeline:scroll();
       -mozanimation-timeline:scroll();
           animation-timeline:scroll();
}

@keyframes analitzador{
    to{
        scale: 1 1;
    }
}

@media (max-width:480px)
{
    body{
        background-color: var(--color6);
    }

}

@media (min-width:481px) and (max-width:1280px)
{
    body{
        background-color: var(--color7);
    }

    p{
        margin: 2rem;
    }
}

@media (min-width:1280px)
{
    body{
        background-color:var(--color5)
    }
}

.rodona{
    width:15rem;
    height:15rem;
    background:var(--color4);
    border-radius: 50%;
    margin:auto;
}

p{
    columns: 2;
    text-align: justify;
}
